/* Styles for register page */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
  }
  
  .register-container {
    width: 40%;
    margin: 100px auto; /* Centering the container */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white; /* White background for contrast */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    padding-left:0;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded input fields */
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Button color */
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners for button */
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049; /* Darker shade on hover */
  }
  